@page "/"
@using ToDoApp.Models
@inject ToDoContext Context
@inject IDialogService DialogService

<MudThemeProvider />
<MudPopoverProvider />

<MudDialogProvider />

<article class="content px-4">
    @if (ToDoItems == null)
    {
        <p><em>Loading...</em></p>
    }
    else
    {
        <table class="table">
            <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>state</th>
            </tr>
            </thead>
            <tbody>
            @foreach (var item in ToDoItems)
            {
                <tr>
                    <td>@item.Id</td>
                    <td>@item.Name</td>
                    <td>@item.IsCompleted</td>
                </tr>
            }
            </tbody>
        </table>
        <MudButton OnClick="@(() => OpenDialogAsync())" Variant="Variant.Filled" Color="Color.Primary">Add new item</MudButton>
    }
</article>



@code
{
    public List<ToDoTask> ToDoItems;

    protected override Task OnInitializedAsync()
    {
        ToDoItems = Context.ToDoTask.ToList();
        return base.OnInitializedAsync();
    }
    
    private Task OpenDialogAsync()
    {
        var options = new DialogOptions { CloseOnEscapeKey = true };

        return DialogService.ShowAsync<AddToDoDialog>("Simple Dialog", new DialogOptions(){CloseButton = true});
    }
    
}