@using ToDoApp.Models
@using ToDoApp.Services
@inherits LayoutComponentBase
@inject ToDoContext Context

<div class="page">
    <div class="sidebar">
        <NavMenu/>
    </div>

    <main>
        <div class="top-row px-4">
            <a href="https://learn.microsoft.com/aspnet/core/" target="_blank">About</a>
        </div>

        <article class="content px-4">
            @if (ToDoItems == null)
            {
                <p><em>Loading...</em></p>
            }
            else
            {
                <table class="table">
                    <thead>
                    <tr>
                        <th>Id</th>
                        <th>Name</th>
                        <th>state</th>
                    </tr>
                    </thead>
                    <tbody>
                    @foreach (var item in ToDoItems)
                    {
                        <tr>
                            <td>@item.Id</td>
                            <td>@item.Name</td>
                            <td>@item.IsCompleted</td>
                        </tr>
                    }
                    </tbody>
                </table>
            }
        </article>
    </main>
</div>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>

@code
{
    public List<ToDoTask> ToDoItems;

    protected override Task OnInitializedAsync()
    {
        ToDoItems = Context.ToDoTask.ToList();
        return base.OnInitializedAsync();
    }

}
